body {background-size: cover;
    background-image: url("../media/pexels-pixabay-326055.jpg");
    background-size: 100%;
    
}

nav{
    background: rgb(94, 117, 221);
}

nav a{
    color: white;
}

header{
    margin-top: 2em;
}

.heading{
    background-color: rgba(255, 255, 255, 0.884);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
    color: black;
    max-width: 700px;
}

h1{
    margin-top: 5px;
    text-decoration: underline;
}

#selfie{
    min-width: 300px;
}

.social{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align:left;
    column-gap: 50px;
}

#contacts{
    grid-template-columns: 1fr;
    padding-top: 30%;
    font-size: 18px;
}

#contacts a{
    color: rgb(0, 81, 255);
    text-decoration: none;
}

#contacts a:hover{
    text-decoration: underline;
}

#contactFooter{
    position: absolute;
    bottom: 0;
    background: rgb(94, 117, 221);
    color: white;
}

#contactFooter a{
    color: white;
}

@media (max-width: 700px){

    .heading{
        max-width: 610px;
        min-width: 350px;
    }
    .social{
        grid-template-columns: 1fr;
    }
    #contacts{
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    }
    img{
        width: 100%;
    }
}

@media (max-width:480px){
    .title{
        font-size: 38px;
    }
}

